@import '@repo/ui/index.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
	@apply max-h-dvh min-h-dvh overflow-hidden text-sm antialiased;
	font-family:
		'Inter',
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
	scroll-behavior: smooth;
	font-display: swap;
	font-weight: 500;
	width: 100%;
	margin: 0;
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom)
		env(safe-area-inset-left);
}

#root {
	@apply h-dvh max-h-dvh min-h-dvh;
}

body:has([data-tippy-root]) #root {
	@apply pointer-events-none;
}

// [data-radix-focus-guard] {
// 	height: 100vh;
// 	width: 100vw;
// }

.resize-handler {
	position: relative;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 1px;
	cursor: col-resize;
	z-index: 9999;

	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 1px;
		transition: background-color 0.2s ease-in 0s;
		background-color: transparent;
	}

	&:hover::before {
		@apply bg-blue-500;
		// @apply bg-primary;
		width: 2px;
	}

	&::after {
		content: '';
		display: block;
		width: 10px;
		height: 100%;
		position: absolute;
		top: 0px;
		left: -3px;
		margin-left: -1px;
	}

	&--is-resizing::before {
		width: 2px;
		// background-color: #1197ff;
		@apply bg-blue-500;
		// @apply bg-primary;
	}
}

div[cmdk-root] {
	height: fit-content;
}

div[contenteditable]:empty:before {
	content: attr(aria-placeholder);
	pointer-events: none;
	display: block; /* For Firefox */
	@apply text-foreground/25;
}
